.Track {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid black;
  padding: 10px;
  margin-top: 5px;
  width: 400px;
}

.Track-information {
  color: red;
}

.Image-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.Track-information h3 {
  color: rgb(5, 132, 243);
}

.Track-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  border: 1px solid gray;
  border-radius: 16px;
}

.Track-action {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  position: absolute;
  top: 80%;
  left: 80%;
  font-size: 20px;
}
